[Desktop Entry]
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;Utility;System;Filesystem;GNOME;Qt;KDE;
Comment[en_US]=Installer for XeroLinux
Comment=Installer for XeroLinux
Comment[ar]=كالامارس - مثبت النظام
Comment[as]=কেলামাৰেচ — চিছটেম​ ইনস্তলাৰ
Comment[ast]=Calamares — Instalador del sistema
Comment[az]=Calamares Sistem Quraşdırıcısı
Comment[az_AZ]=Calamares — Sistem Quraşdırıcısı
Comment[be]=Calamares — усталёўшчык сістэмы
Comment[bg]=Calamares — Системен Инсталатор
Comment[bn]=ক্যালামারেস - সিস্টেম ইনস্টলার
Comment[ca]=Calamares — Instal·lador de sistema
Comment[cs_CZ]=Calamares – instalátor operačních systémů
Comment[da]=Calamares — Systeminstallationsprogram
Comment[de]=Calamares - Installation des Betriebssystems
Comment[el]=Calamares — Εγκατάσταση συστήματος
Comment[en_GB]=Calamares — System Installer
Comment[eo]=Calamares — Sistema Instalilo
Comment[es]=Calamares — Instalador del Sistema
Comment[es_MX]=Calamares - Instalador del sistema
Comment[et]=Calamares — süsteemipaigaldaja
Comment[eu]=Calamares - sistema instalatzailea
Comment[fa]=کالامارس — نصب‌کنندهٔ سامانه
Comment[fi_FI]=Calamares — Järjestelmän Asentaja
Comment[fr]=Calamares - Installateur système
Comment[fur]=Calamares — Program di instalazion dal sisteme
Comment[gl]=Calamares — Instalador de sistemas
Comment[he]=Calamares - אשף התקנה
Comment[hi]=Calamares — सिस्टम इंस्टॉलर
Comment[hr]=Calamares — Instalacija sustava
Comment[hu]=Calamares – Rendszertelepítő
Comment[id]=Calamares — Pemasang Sistem
Comment[ie]=Calamares — Installator del sistema
Comment[is]=Calamares — Kerfis uppsetning
Comment[it_IT]=Calamares — Programma d'installazione del sistema
Comment[ja]=Calamares — システムインストーラー
Comment[ko]=깔라마레스 — 시스템 설치 관리자
Comment[lt]=Calamares — Sistemos diegimo programa
Comment[mk]=Calamares - Системен Инсталер
Comment[ml]=കലാമാരേസ് - സിസ്റ്റം ഇൻസ്റ്റാളർ
Comment[nb]=Calamares-systeminstallatør
Comment[ne_NP]=Calamares - सिस्टम इन्स्टलर
Comment[nl]=Calamares — Installatieprogramma
Comment[pl]=Calamares — Instalator systemu
Comment[pt_BR]=Calamares — Instalador de Sistema
Comment[pt_PT]=Calamares - Instalador de Sistema
Comment[ro]=Calamares — Instalator de sistem
Comment[ru]=Calamares - Установщик системы
Comment[sk]=Calamares — Inštalátor systému
Comment[sq]=Calamares — Instalues Sistemi
Comment[sr]=Каламарес — инсталатер система
Comment[sv]=Calamares — Systeminstallerare
Comment[tg]=Calamares — Насбкунандаи низомӣ
Comment[tr_TR]=Calamares — Sistem Yükleyici
Comment[uk]=Calamares - Встановлювач системи
Comment[vi]=Calamares — Bộ cài đặt hệ thống
Comment[zh_CN]=Calamares — 系统安装程序
Comment[zh_TW]=Calamares ── 系統安裝程式
Exec=sudo -E calamares
GenericName[en_US]=System Installer
GenericName=System Installer
GenericName[ar]=مثبت النظام
GenericName[as]=চিছটেম ইনস্তলাৰ
GenericName[ast]=Instalador del sistema
GenericName[az]=Sistem Quraşdırıcısı
GenericName[az_AZ]=Sistem quraşdırcısı
GenericName[be]=Усталёўшчык сістэмы
GenericName[bg]=Системен Инсталатор
GenericName[bn]=সিস্টেম ইনস্টলার
GenericName[ca]=Instal·lador de sistema
GenericName[cs_CZ]=Instalátor systému
GenericName[da]=Systeminstallationsprogram
GenericName[de]=Installation des Betriebssystems
GenericName[el]=Εγκατάσταση συστήματος
GenericName[en_GB]=System Installer
GenericName[eo]=Sistema Instalilo
GenericName[es]=Instalador del Sistema
GenericName[es_MX]=Instalador del sistema
GenericName[et]=Süsteemipaigaldaja
GenericName[eu]=Sistema instalatzailea
GenericName[fa]=نصب‌کنندهٔ سامانه
GenericName[fi_FI]=Järjestelmän Asennusohjelma
GenericName[fr]=Installateur système
GenericName[fur]=Program di instalazion dal sisteme
GenericName[gl]=Instalador de sistemas
GenericName[he]=אשף התקנה
GenericName[hi]=सिस्टम इंस्टॉलर
GenericName[hr]=Instalacija sustava
GenericName[hu]=Rendszertelepítő
GenericName[id]=Pemasang
GenericName[ie]=Installator del sistema
GenericName[is]=Kerfis uppsetning
GenericName[it_IT]=Programma d'installazione del sistema
GenericName[ja]=システムインストーラー
GenericName[ko]=시스템 설치 관리자
GenericName[lt]=Sistemos diegimas į kompiuterį
GenericName[mk]=Системен Инсталер
GenericName[ml]=സിസ്റ്റം ഇൻസ്റ്റാളർ
GenericName[nb]=Systeminstallatør
GenericName[ne_NP]=सिस्टम इन्स्टलर
GenericName[nl]=Installatieprogramma
GenericName[pl]=Instalator systemu
GenericName[pt_BR]=Instalador de Sistema
GenericName[pt_PT]=Instalador de Sistema
GenericName[ro]=Instalator de sistem
GenericName[ru]=Установщик системы
GenericName[sk]=Inštalátor systému
GenericName[sq]=Instalues Sistemi
GenericName[sr]=Инсталатер система
GenericName[sv]=Systeminstallerare
GenericName[tg]=Насбкунандаи низомӣ
GenericName[tr_TR]=Sistem Yükleyici
GenericName[uk]=Встановлювач системи
GenericName[vi]=Bộ cài đặt hệ thống
GenericName[zh_CN]=系统安装程序
GenericName[zh_TW]=系統安裝程式
Icon=calamares
Icon[ar]=كالامارس
Icon[as]=কেলামাৰেচ
Icon[ast]=calamares
Icon[az]=calamares
Icon[az_AZ]=calamares
Icon[be]=calamares
Icon[bg]=calamares
Icon[bn]=ক্যালামারেস
Icon[ca]=calamares
Icon[cs_CZ]=calamares
Icon[da]=calamares
Icon[de]=calamares
Icon[el]=calamares
Icon[en_GB]=calamares
Icon[eo]=calamares
Icon[es]=calamares
Icon[es_MX]=calamares
Icon[et]=calamares
Icon[eu]=calamares
Icon[fa]=کالامارس
Icon[fi_FI]=calamares
Icon[fr]=calamares
Icon[fur]=calamares
Icon[gl]=calamares
Icon[he]=calamares
Icon[hi]=calamares
Icon[hr]=calamares
Icon[hu]=calamares
Icon[id]=calamares
Icon[ie]=calamares
Icon[is]=calamares
Icon[it_IT]=calamares
Icon[ja]=calamares
Icon[ko]=깔라마레스
Icon[lt]=calamares
Icon[mk]=calamares
Icon[ml]=കലാമാരേസ്
Icon[nb]=calamares
Icon[ne_NP]=Calamares
Icon[nl]=calamares
Icon[pl]=calamares
Icon[pt_BR]=calamares
Icon[pt_PT]=calamares
Icon[ro]=calamares
Icon[ru]=calamares
Icon[sk]=calamares
Icon[sq]=calamares
Icon[sr]=calamares
Icon[sv]=calamares
Icon[tg]=calamares
Icon[tr_TR]=calamares
Icon[uk]=calamares
Icon[vi]=calamares
Icon[zh_CN]=calamares
Icon[zh_TW]=calamares
Keywords=calamares;system;installer;
MimeType=
Name[en_US]=Install XeroLinux
Name=Install XeroLinux
Name[ar]=تثبيت النظام
Name[as]=চিছটেম ইনস্তল কৰক
Name[ast]=Instalar el sistema
Name[az]=Sistemi Quraşdırmaq
Name[az_AZ]=Sistemi quraşdırmaq
Name[be]=Усталяваць сістэму
Name[bg]=Инсталирай системата
Name[bn]=সিস্টেম ইনস্টল করুন
Name[ca]=Instal·la el sistema
Name[cs_CZ]=Nainstalovat systém
Name[da]=Installér system
Name[de]=System installieren
Name[el]=Εγκατάσταση συστήματος
Name[en_GB]=Install Cosmic
Name[eo]=Instali Sistemo
Name[es]=Instalar Sistema
Name[es_MX]=Instalar el Sistema
Name[es_PR]=Instalar el sistema
Name[et]=Paigalda süsteem
Name[eu]=Sistema instalatu
Name[fa]=نصب سامانه
Name[fi_FI]=Asenna Järjestelmä
Name[fr]=Installer le système
Name[fur]=Instale il sisteme
Name[gl]=Instalación do Sistema
Name[he]=התקנת מערכת
Name[hi]=सिस्टम इंस्टॉल करें
Name[hr]=Instaliraj sustav
Name[hu]=Rendszer telepítése
Name[id]=Instal Sistem
Name[ie]=Installar li sistema
Name[is]=Setja upp kerfið
Name[it_IT]=Installa il sistema
Name[ja]=システムをインストール
Name[ko]=시스템 설치
Name[lt]=Įdiegti Sistemą
Name[mk]=Инсталирај го системот
Name[ml]=സിസ്റ്റം ഇൻസ്റ്റാൾ ചെയ്യുക
Name[nb]=Installer System
Name[ne_NP]=सिस्टम इन्स्टल गर्नुहोस्
Name[nl]=Installeer systeem
Name[pl]=Zainstaluj system
Name[pt_BR]=Sistema de Instalação
Name[pt_PT]=Instalar Sistema
Name[ro]=Instalează sistemul
Name[ru]=Установить систему
Name[sk]=Inštalovať systém
Name[sl]=Namesti sistem
Name[sq]=Instalo Sistemin
Name[sr@latin]=Instaliraj sistem
Name[sr]=Инсталирај систем
Name[sv]=Installera system
Name[tg]=Насбкунии низом
Name[th]=ติดตั้งระบบ
Name[tr_TR]=Sistemi Yükle
Name[uk]=Встановити Систему
Name[vi]=Cài đặt hệ thống
Name[zh_CN]=安装系统
Name[zh_TW]=安裝系統
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-AppStream-Ignore=true
X-KDE-SubstituteUID=false
X-KDE-Username=
