[Desktop Entry]
Comment[en_US]=Loads GNOME settings at first start
Comment=Loads GNOME settings at first start
Exec=sh -c '/usr/local/bin/xdconf && rm ~/.config/autostart/dconf-load.desktop'
GenericName[en_US]=
GenericName=
Icon=variety
MimeType=
Name[en_US]=Dconf Loader
Name=Dconf Loader
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
